<form class="row gy-4" #changePassform="ngForm" (ngSubmit)="handellchange(changePassform)">

  <div class="col-6">
    <input type="password" class="form-control" placeholder="password" name="password"  required [(ngModel)]="model.password"  #password="ngModel">
    <div class="alert alert-danger" *ngIf="password.invalid&& (changePassform.submitted||password.dirty)">
      <p *ngIf="password.errors?.['required']">password is required</p>
  </div>
  </div>

  <div class="col-6">
    <input type="password" class="form-control" placeholder="newPassword" name="newPassword"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required [(ngModel)]="model.newPassword"  #newPassword="ngModel">
    <div class="alert alert-danger" *ngIf="newPassword.invalid&& (changePassform.submitted||newPassword.dirty)">
      <p *ngIf="newPassword.errors?.['required']">newPassword is required</p>
      <p *ngIf="newPassword.errors?.['pattern']">password that must contain 8 or more characters that are of at least one number, and one uppercase and lowercase letter</p>
  </div>
  </div>

  <div  class="alert alert-danger" *ngIf="errFlag">
    {{errMsg}}
  </div>
  <div class="col-12">
    <button class="btn btn-primary">change password</button>
  </div>

</form>
